<div class="page-header">
	<h1>Todo App</h1>
</div>

<ul class="list-group">
	<% @todos.each do |todo| %>
		<li class="list-group-item">
			<%= todo.item %>
				
				<%= button_to "Delete", {:controller => :todos, :action => :destroy, :id => todo.id}, 
					{:method => :delete, class: "btn btn-danger btn-sm"} %>

		</li>
	<% end %>
</ul>

<span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;<%= link_to "Add new item", new_todo_path %>